<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Employee: Approve entry</title>
</head>
<body>
    <h1>Approve</h1>
        <p th:text="'id: ' + ${employee.id}" />
        <p th:text="'Firstname: ' + ${employee.firstName}" />
        <p th:text="'Lastname: ' + ${employee.lastName}" />
        <p th:text="'footballClub: ' + ${employee.footballClub}" />
    <form action="#" th:action="@{/approve}" th:object="${employee}" method="post" >
        <p>Approved ?: <input type="checkbox" th:field="*{approved}" /></p>
        <p><input type="submit" value="Submit" /> </p>
    </form>
</body>
</html>