<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Employee: Form entry</title>
</head>
<body>
    <h1>Result</h1>
    <form action="#" th:action="@{/employee}" th:object="${employee}" method="post" >
        <p th:text="'id: ' + ${employee.id}" />
        <p th:text="'Firstname: ' + ${employee.firstName}" />
        <p th:text="'Lastname: ' + ${employee.lastName}" />
        <p th:text="'Approved: ' + ${employee.approved}" />

    </form>
</body>
</html>