<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Employee: Approve entry</title>
</head>
<body>
    <h1>Tasks</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Process Instance Id</th>
            <th>Name</th>
            <th>Assignee</th>
            <th>Action</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.processInstanceId}"></td>
            <td th:text="${task.name}"></td>
        </tr>
    </table>
</body>
</html>